:root {
  --index: calc(1vw + 1vh);
  --text: #e7e7e0;
}

@font-face {
  font-family: 'IndianaJones';
  src: url("./asserts/adventureindianajones_regular.woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'IndianaJones', serif;
  margin: 0;
  padding: 0;
}

/* hide scrollbar */
*::-webkit-scrollbar {
  width: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  text-align: center;
  height: calc(var(--index)*37);
  display: flex;
  background-image: url("./asserts/maze-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: calc(var(--index)*8);
}

.gradient-text {
  font-family: 'IndianaJones', serif;
  text-transform: uppercase;
  background: #FFFF19;
  background: -webkit-linear-gradient(bottom, #FFFF19, #FC611A);
  background: -moz-linear-gradient(bottom, #FFFF19, #FC611A);
  background: linear-gradient(to top, #FFFF19, #FC611A);
  -webkit-text-stroke: 0.5vh black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  padding: 0 5vh;
  margin: var(--index);
}

#play-link {
  text-decoration: none;
}

#play-link :hover {
  border: 0.5vh solid #D51AB4;
  box-shadow: 0 0 10px #DB4AD8, 0 0 40px #DB4AD8, 0 0 80px #DB4AD8;
}

#play-link p:hover {
  border: none;
  box-shadow: none;
  transform: scale(1.1);
}


.play-button {
  border-radius: 20%;
  font-size: calc(var(--index)*3);
  border: 0.5vh solid black;
  background-color: #FEECFE;
  transform: rotate(-10deg);

}


.background {
  background: rgb(241, 102, 228);
  background: linear-gradient(90deg, rgba(241, 102, 228, 1) 0%, rgba(124, 159, 18, 1) 92%);
  /* background-image: url(/asserts/maze-background-light.jpg); */
}

#game {
  min-height: calc(var(--index)*35);
  z-index: 1;
}

#controller {
  text-align: center;
  margin-top: 0;
  padding: 15px;
  font-size: var(--index);
}

#controller input {
  width: calc(var(--index)*6);
  height: calc(var(--index)*1.5);
  font-size: var(--index);
  margin-top: 15px;

  border-radius: 8%;
}

#controller input::placeholder {
  font-size: calc(var(--index)*0.6);
}


#controller button {
  padding: 1vw;
  margin: 5px;
  border-radius: 20%;
  font-size: calc(var(--index)*1.5);
}

#controller button:hover {
  color: #622457;
  border: 0.5vh solid #D51AB4;
  box-shadow: 0 0 10px #DB4AD8, 0 0 40px #DB4AD8, 0 0 80px #DB4AD8;
}

#buttons {
  margin-top: 1vh;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

/* maze drawing */
.level {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 0;
  margin: 20px 50px;
  opacity: 0.5;
}

.current-level {
  flex-basis: 70%;
  min-height: calc(var(--index)*22);
  opacity: 1;
  z-index: 2;
}

.cell {
  border-radius: 8%;
  min-width: 100px;
  min-height: 100px;
  text-align: center;
  background-color: #c4de7c;
  border: 10px solid transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.current-cell {
  animation-name: player;
  animation-duration: 0.8s;
  background-position: bottom;
  background-size: 50%;
  background-repeat: no-repeat;
  animation-iteration-count: infinite;
}

@keyframes player {
  from {
    background-image: url("./asserts/stand-player.png");
  }

  50% {
    background-image: url("./asserts/moving-player.png");
  }

  to {
    background-image: url("./asserts/stand-player.png");
  }
}

@keyframes player-move-left {
  from {
    background-image: url("./asserts/stand-player.png");
  }

  25% {
    background-image: url("./asserts/moving-left-player-1.png");
  }

  50% {
    background-image: url("./asserts/moving-left-player-2.png");
  }

  75% {
    background-image: url("./asserts/moving-left-player-3.png");
  }

  to {
    background-image: url("./asserts/stand-player.png");
  }
}

@keyframes player-move-right {
  from {
    background-image: url("./asserts/stand-player.png");
  }

  25% {
    background-image: url("./asserts/moving-right-player-1.png");
  }

  50% {
    background-image: url("./asserts/moving-right-player-2.png");
  }

  75% {
    background-image: url("./asserts/moving-right-player-3.png");
  }

  to {
    background-image: url("./asserts/stand-player.png");
  }
}

.goal-cell {
  background-image: url("./asserts/goal.png");
}

.up-cell {
  background-image: url("./asserts/portal-up.png");
}

.down-cell {
  background-image: url("./asserts/portal-down.png");
}

.up-down-cell {
  background-image: url("./asserts/portal-up-down.png");

}

/* 




     */
footer {
  background-image: url("./asserts/maze-background.jpg");
  width: 100vw;
  background-size: cover;
  color: white;
  -webkit-text-stroke: 0.1vh black;
  text-align: center;
  font-size: 4vh;
  bottom: 0;
  right: 50%;
}

footer p:before {
  content: "\00a9";
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }

  .container {
    height: 100vh;
  }

  .play-button {
    font-size: calc(var(--index)*5);
  }

  .up-cell {
    background-image: url("./asserts/portal-up-phones.png");
  }

  .down-cell {
    background-image: url("./asserts/portal-down-phones.png");
  }

  .up-down-cell {
    background-image: url("./asserts/portal-up-down-phones.png");

  }

}